name: Trivy Security Scan

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  trivy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build image (fixed)
        run: |
          docker build -f docker/Dockerfile.fixed -t tp-trivy:ci .

      - name: Run Trivy (SARIF)
        uses: aquasecurity/trivy-action@0.24.0
        with:
          image-ref: 'tp-trivy:ci'
          format: 'sarif'
          output: 'trivy-results.sarif'
          severity: 'CRITICAL,HIGH'
          exit-code: '1'

      - name: Upload SARIF to GitHub Security
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: trivy-results.sarif
